<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="container">
        <form [formGroup]="addPostForm" (ngSubmit)="addPost(title.value, addPostForm.get('context').value)">
          <span class="login100-form-title">Create New Group</span>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" id="inputTitle" #title [formControlName]="'title'"
                   placeholder="Title">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-drupal" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100 validate-input">
            <editor [formControlName]="'content'" [init]="{plugins: 'link'}"></editor>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!--===============================================================================================-->
<script src="src/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="src/vendor/bootstrap/js/popper.js"></script>
<script src="src/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="src/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="src/vendor/tilt/tilt.jquery.min.js"></script>
<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
<!--===============================================================================================-->
<script src="src/js/index.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js'></script>

